main{
    padding: 0;

    .container-main{
        padding: 10px;
    }
}

.hide-header{
    .reaction-navigation-header{
        display: none;
    }
}

.reaction-navigation-header{
    position: fixed;
    background-color: @white;
    padding: 10px;
    width: 100%;
    top: 0;
    z-index: 10;

    .btn-circle{
        border-radius: 50%;
    }

    .back-button,
    .search-box {
        .btn {
            width: 34px;
            padding: 6px 10px;
            background-color: @black;
            color: @white;
            border-color: @black;
        }
    }
}

.swiper-container{
    .swiper-slide{
        background-color: @black;
        padding: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 330px;

        .slide-title,
        .slide-subtitle,
        .slide-caption,
        .slide-link {
            color: @white;
        }

        .slide-link {
            text-transform: uppercase;
            border: 1px solid @white;
            border-radius: 0;
            display: inline-block;
            padding: 5px 30px;
            font-size: 16px;
        }

        .slide-title {
            font-size: 29px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 0;
            line-height: 1.25em;
            margin-bottom: 16px;
        }

        .slide-subtitle {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 16px;
        }

        .slide-caption {
            font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    .swiper-pagination-bullet {
        background-color: rgba(255,255,255,0.75);
    }
}

.page-header{
    background-color: @black;
    color: @white;
    padding: 20px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 0;

    h1{
        color: @white;
        font-size: 29px;
        text-transform: uppercase;
        margin: 0;
    }
}
