main{
	padding: 0;

	.container-main{
		padding: 10px;
	}
}

.hide-header{
	.reaction-navigation-header{
		display: none;
	}
}

.reaction-navigation-header{
	position: fixed;
	background-color: @white;
	padding: 10px;
	width: 100%;
	top: 0;
	z-index: 10;

	.btn-circle{
		border-radius: 50%;
	}

	.back-button,
	.search-box {
		.btn {
			width: 34px;
			padding: 6px 10px;
			background-color: @black;
			color: @white;
			border-color: @black;
		}
	}
}


.page-header {
	background-color: @black;
	color: @white;
	height: 20vh;
	padding: 20px 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	position: relative;
	border: none;

	.h1 {
		font-family: @sans_serif;
		font-weight: bold;
		color: @white;
		font-size: 24px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 5vh 20px;

		@media screen and (min-width: @screen-sm-min) {
			font-size: 45px;
		}
	}
}
