body {
	padding-top: 54px;
	padding-bottom: 50px;
}

body.hide-header {
	padding-top: 0;
}

.container-main {
	padding: 30px;
}

.color-grey {
	color: @grey;
}


/**
* Create shades of grey classes
*/
.generate-greys(100);

.generate-greys(@n, @i: 5) when (@i =< @n) {
	.black-@{i} {
		color: darken(#fff, @i);
	}
	.generate-greys(@n, (@i + 5));
}


/**
* Headings
*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: @black;
}


/**
* Forms
*/

.form-control {
	border-radius: 0;
}


/**
* Buttons
*/

.btn-sq {
	border-radius: 0;
}

.btn-black {
	background-color: #000;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;

	&:hover {
		background-color: #333;
		color: #fff;
	}
}


/**
* Home product images
*/

.show-product-images {
	.product-image {
		height: 30vh;
		background-size: cover;
		background-position: center;
	}
}
