body {
	padding-top: 54px;
	padding-bottom: 50px;
}

body.hide-header {
	padding-top: 0;
}

.container-main {
	padding: 30px;
}


/**
* Forms
*/

.form-control {
	border-radius: 0;
}


/**
* Buttons
*/

.btn-sq {
	border-radius: 0;
}

.btn-black {
	background-color: #000;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;

	&:hover {
		background-color: #333;
		color: #fff;
	}
}


/**
* Home product images
*/

.show-product-images {
	.product-image {
		height: 30vh;
		background-size: cover;
		background-position: center;
	}
}
