<template name="artistSlides">
	<div class="artists-swiper-container">
		<div class="swiper-wrapper">

			{{#each artist in (printsByArtist 1)}}
				<div class="swiper-slide">

					{{#each print in artist.prints}}
						<div class="print">

							{{#with media print}}
								<div class="product-image" style="background-image: url('{{url store='large'}}')"></div>
							{{else}}
								<div class="product-image" style="background-image: url(/resources/placeholder.gif)"></div>
							{{/with}}

							<h3 class="h3 artist-name">{{toUpperCase artist.name}}</h3>
							<h4 class="h4 print-title"><em>{{print.title}}</em>, {{printYear print._id}}</h4>
							<p class="description">{{print.description}}</p>

						</div>
					{{/each}}
				</div>
			{{/each}}

		</div>
	</div>
</template>
