<template name="homepage">

	{{> homeSlides}}

	<div class="container-main">
	    <div class="row">
	        <div class="col-sm-12">

                {{#if currentUser}}
                    {{> accounts tpl="loginDropdown"}}
                {{/if}}

	            <h3 class="h3 current-show-title">Current Show</h3>

                <h2 class="h2 show-tag-title">{{showTag.name}}</h2>

				{{> showSlides}}

				<hr>

                <h2 class="h2 show-tag-title">10A Artists</h2>

				{{> artistSlides}}
	        </div>
	    </div>
	</div>

</template>
