<template name="showing">
	{{! TODO: Showing page background image }}
    <div class="page-header" style="background-image: url();">
		<h1>10A Prints Launch Show</h1>
	</div>

    <div class="container-main">
        <div class="row">
            <div class="col-sm-12">

                {{#if currentUser}}
                    {{> accounts tpl="loginDropdown"}}
                {{/if}}

                <h3 class="static-label">Current Show</h3>

                <h2 class="show-tag-title">{{showTag.name}}</h2>

                <div class="show-swiper-container">
                    <div class="swiper-wrapper">

                        {{#each slides}}
                            {{#if isVisible}}
                                <div class="show-print swiper-slide">
                                    <div class="product-primary-images show-product-images">
                                        {{#with media}}
                                            <div class="product-image" style="background-image: url('{{url store='large'}}')"></div>
                                        {{else}}
                                          <div class="product-image" style="background-image: url(/resources/placeholder.gif)"></div>
                                        {{/with}}
                                    </div>
                                    <h3 class="show-product-title">{{title}}</h3>
                                    <p><em>{{printsArtistName _id}}</em> {{printYear _id}}</p>
                                    <p>{{description}}</p>
                                </div>
                            {{/if}}
                        {{/each}}

                    </div>
                </div><!-- .show-swiper-container -->
            </div>
        </div>
    </div>
</template>
