<template name="showing">
    <div class="page-header" style="background-image: url(/resources/images/Mass,North.jpg);">
		<h1 class="h1">{{toUpperCase showTag.name}}</h1>
	</div>

    <div class="container-main">
        <div class="row">
            <div class="col-sm-12">

                {{#if currentUser}}
                    {{> accounts tpl="loginDropdown"}}
                {{/if}}

                <h3 class="current-show-label">Current Show</h3>
                <h2 class="show-tag-title">{{showTag.name}}</h2>

                <div class="showing-prints">
                    {{#each artist in printsByArtist}}
                        <div class="artist">
                            <h2 class="h2">{{toUpperCase (artist.name)}}</h2>
                            <div class="row grid">
                                {{#each print in artist.prints}}
									{{> showingPrint print}}
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="showingPrint">
	<div class="print grid-item col-xs-6">
		<a href="{{pathFor 'product' _id=_id}}">
			{{#with media}}
				<img src="{{url store='medium'}}" alt="{{title}}" class="print-image">
			{{else}}
				<img class="product-image" src="/resources/placeholder.gif">
			{{/with}}

			<h3 class="h3"><em>{{title}}</em>, {{printYear _id}}</h3>
			<p class="description">{{description}}</p>
		</a>
	</div>
</template>
