<head>
	<script src="https://use.typekit.net/kej2gbd.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<template name="layout">
	<nav class="reaction-navigation-header">{{> yield region="layoutHeader"}}</nav>
	<nav class="reaction-cart-drawer">{{>cartDrawer}}</nav>
	<div class="reaction-dashboard-drawer">{{> yield region="dashboard"}}</div>


	<main>
		<span id="layout-alerts">{{>bootstrapAlerts}}</span>
		{{> yield}}
	</main>

	<footer class="reaction-navigation-footer">{{>yield region="layoutFooter"}}</footer>
</template>
