<template name="homepage">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <h2 class="slide-title">Showing</h2>
                <h1>10A Prints<br>Launch Show</h1>
                <p>Letterpress and digital prints by the design and development team at 10A Prints</p>
                <!-- @todo link to page -->
                <a href="" class="btn btn-sm btn-10a">View</a>
            </div>
            <div class="swiper-slide slide-2">
                <h2 class="slide-title">Featured Artist</h2>
                <h1>Matt Fawkes</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                <!-- @todo link to page -->
                <a href="" class="btn btn-sm btn-10a">View</a>
            </div>
            <div class="swiper-slide slide-3">
                <h2 class="slide-title">Featured Print</h2>
                <h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                <!-- @todo link to page -->
                <a href="" class="btn btn-sm btn-10a">View</a>
            </div>
            <div class="swiper-slide slide-4">
                <h2 class="slide-title">Another slide</h2>
                <h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                <!-- @todo link to page -->
                <a href="" class="btn btn-sm btn-10a">View</a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

	<div class="container-main">
	    <div class="row">
	        <div class="col-sm-12">

                {{> accounts tpl="loginDropdown"}}

	            <h3 class="static-label">Current Show</h3>
                <h2>{{showTag.name}}</h2>
                <pre>
                    {{#each showProducts}}
                        {{title}}
                    {{/each}}
                </pre>
	        </div>
	    </div>
	</div>

</template>
