<template name="showSlides">
	<div class="show-swiper-container">
		<div class="swiper-wrapper">
			{{#each slides}}
				{{#if isVisible}}
					{{> showSlide}}
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>


<template name="showSlide">
	<div class="show-print swiper-slide">
		<div class="product-primary-images show-product-images">
			<a href="{{pathFor 'product' q=_id}}">
				{{#with media}}
					<div class="product-image" style="background-image: url('{{url store='medium'}}')"></div>
				{{else}}
				  <div class="product-image" style="background-image: url(/resources/placeholder.gif)"></div>
				{{/with}}
			</a>
		</div>
	</div>
</template>
