<template name="footer">
    <nav class="navbar-bottom" role="navigation">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-nav">
                    <ul>
                        <li><a href="{{pathFor 'index'}}" class="brand">10A</a></li>
                        <li><a href="#">Showing</a></li>
                        <li><a href="#">Prints</a></li>
                        <li><a href="#">Artists</a></li>
                        <li><a href="#">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>
