<template name="footer">
    <nav class="navbar-bottom" role="navigation">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-nav">
                    <ul>
                        <li><a href="{{pathFor 'index'}}" class="brand">10A</a></li>
                        <li><a href="{{pathFor 'showing'}}">Showing</a></li>
                        <li><a href="{{pathFor 'prints'}}">Prints</a></li>
                        <li><a href="{{pathFor 'artists'}}">Artists</a></li>
                        <!-- @todo add links to cart -->
                        <li><a href="#">{{> cartIcon}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>
